* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, sans-serif;
}

@media screen and (max-width: 480px) {
  /* Styles for mobile phones */
  body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    background-color: #12143b;
    z-index: -2;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    height: 80px;
    width: 100vw;

    padding: 10px 16px;
    background-color: aliceblue;
    z-index: 1;
  }

  .nav-hamburer-menu {
    cursor: pointer;
    height: 36px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: 0;

    width: 200px;
    height: calc(100vh - 80px);

    background-color: aliceblue;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 20px;
    height: 100%;

    list-style-type: none;
  }

  .nav-links ul li {
    font-size: 24px;
    font-weight: 500;
  }

  .social-links {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: end;

    padding-bottom: 20px;
  }

  .social-links a {
    width: 30%;
  }

  .social-links a img {
    width: 100%;
  }

  .nav-links ul li a {
    text-decoration: none;
    color: black;
  }

  main {
    flex-grow: 1;
    z-index: -1;
  }

  .hero-section {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .hero-section img {
    width: 100vw;
  }

  .hero-section h1 {
    padding: 10px;

    font-size: 40px;
  }

  .hero-section p {
    text-align: justify;
    padding: 10px 30px 60px;
  }

  .main-section {
    background-color: rgb(211, 214, 218);
  }

  .main-section img {
    width: 100vw;
  }

  .main-section h1 {
    padding: 50px 40px 20px;

    font-size: 44px;
    font-weight: 600;
    background-color: aliceblue;
  }

  .main-section p {
    text-align: justify;
    padding: 10px 30px 60px;

    font-size: 22px;
  }

  .experience-section {
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 60px;
  }

  .experience-section h2 {
    padding: 40px 40px 40px;
    text-align: center;
  }

  .experience-section-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -24px;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .carousel-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    min-width: 100%;
  }

  .carousel-item div p {
    text-align: center;
    font-size: 18px;
  }

  .carousel-item img {
    width: 140px;
    height: 140px;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px 10px;
    background-color: aliceblue;
  }

  .footer-social-links {
    width: 100%;
  }

  .footer-social-links div {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 10px;
  }

  .footer-social-links div a {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .footer-social-links div a img {
    width: 24px;
  }
}

@media screen and (max-width: 767px) {
  /* Styles for mobile phones and smaller tablets */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets in portrait mode */
}
